// Esquema de colores
$black: #000;
$gris: #ccc;
$bgsuscr: #f2f4f5;
$tags: #4682b4;
$blanco: #fff;

//Tipografias
$news: 'News Cycle', sans-serif;
$diario: 'UnifrakturMaguntia', cursive;

//Pesos de fuentes
$regular: 400;
$bold: 700;

//Tamanos de fuentes
$xx-large: 24px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 12px;